<form class="form" action="/login" method="post">
    <div class="row name">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="Username" name="Username" autocomplete="off" placeholder="Username"
                       aria-label="Username">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="Password" name="Password" autocomplete="off" placeholder="Password"
                       aria-label="Password">

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</form>