<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/basic.css">
    <title>MSchultheiss.net Socket.IO Chat[Bot]</title>
</head>
<body>
<div id="main" class="container-fluid mx-auto text-center">
    <h1>MSchultheiss.net Socket.io Chat[Bot]</h1>
    <hr>
    <form class="form" action="/">
        <div class="row history">
            <div class="col">
                <h3>Rooms</h3>
                <ul id="rooms" class="list-group"></ul>
            </div>
            <div class="col-6">
                <h3>History</h3>
                <ul id="messages" class="list-group"></ul>
            </div>
            <div class="col">
                <h3>Clients</h3>
                <ul id="clients" class="list-group">
                    <li id="me" class="list-group-item">Me</li>
                </ul>
            </div>
        </div>
        <div class="row message">
            <div class="col-12">
                <hr>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="m" autocomplete="off" placeholder="Message"
                           aria-label="Message">

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="/static/js/action.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
