<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="main" class="container-fluid mx-auto text-center">

<header>
    <% include ../partials/header.ejs %>
</header>
<hr>
<main>
<% include ../partials/main-login.ejs %>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

</body>
</html>